{% extends "base.html" %} {% block content %}
<h2>Земля</h2>
<h3>Навигация</h3>
<nav>
    <ul>
      <a href="#kart" style="color: black"><li>Карта</li></a>
      <a href="#struc" style="color: black"><li>Структура</li></a>
      <a href="#hran" style="color: black"><li>Хранилища ангелов</li></a>
    </ul>
</nav>
<h3 id="kart">Карта</h3>
<img src="static/img/map.png" alt="Фотография 1" width="525" height="350" />
<p>На карте выделены места сильной магической концентрации</p>
<h3 id="struc">Структура</h3>
<p>Время: современность</p>
<p>Мир живых повторяет наш с вами, за одним лишь исключеним, а именно наличием магии.</p>
<p>В каждом человеке есть волшебство хотя бы в малых количествах, но проявляется оно очень редко. Людей, кому подчиняется магия, общество 
остерегается. Тайные правительственные организации ставят магов на учет и в случае проблем или опасности, помогают им переехать. Существуют 
целые города в которых проживают одаренные люди, в ожидании, когда общество станет терпимее.</p>
<p>У людей встречаются узконаправленные способности, такие как левитация, подчинение огня, воды, создание иллюзий и т.п. Сильно реже 
  появляется предрасположенность к светлой или темной магии, таких людей часто избирают в некромантов или белых ведьм.</p>
<p>Кроме людей, одареных способностями, существуют места повышенной магической концентрации, которая влияет на природу, людей и число 
нечести и близких к ним по своей сути существ в этих районах.</p>
<p>Нечисть и близкие к ним:</p>
<ul>
  <li>Вампиры</li>
  <p>Антропоморфная нечисть, отличающаяся от простых людей своей тягой к крови. Вампиры могут поистине насытиться только ей, а простая пища 
  не способна ни на толику успокоить их голод. Появились первые вампиры благодаря воздействию демонов на смертных. Временно утолить их 
  голод способны крепкий табак и наркотики. Вампиров, убивающих своих жертв и пьющих кровь людей для удовольствия, а не удовлетворения 
  базовых потребностей, называют упырями.</p>
  <li>Пекатумы и Пекумеры</li>
  <p>Пекатумы - человекоподобные существа, создания тенеей и злобы, людоеды. Пекумеры - их питомцы, звери, сотканные из мрака и связанные с 
    хозяевами нерушимой связью от которой зависит жизнь обоих. Оба вида появляются в местах, пропитанных злобой, страхом и жестокостью, 
    например, в переулках, где были совершены особо тяжкие преступления. Пекатумы и Пекумеры способны растворяться в тенях, уходя на изнанку 
    мира.</p>
  <li>Безликие</li>
  <p>Существа, способныеполностью менять свою внешность, превращаясь в любого человека/существо, которых видели хоть раз. В своем истинном 
  обличии представляют из себя антропоморфных существ без лица, в масках с оленьими рогами, покрытми узорами. Размер рогов определяет статус 
  безликого в общине. Малочислены, не агрессивны. Появились в следствие вмешательства ангела в жизнь смертного. Юную красивую актриссу 
  соперницы облили кислотой, которая сожгла лицо девушки. Ангел сжалился на ней, одарил магией и способностью создавать себеподобных с 
  целью избавления людей от мучений. Факт: если спасти жизнь безликого, в качестве благодарности, он добровольно станет служить своему 
  спасителю.</p>
  <li>Некроманты</li>
  <p>Люди, наделенные способностью использовать темную магию, магию крови, лечения, руны, печати, заклинания и создавать зелья и отвары. 
  Появились благодаря воздействию демонов на смертных и обучению их колдовству.</p>
  <li>Белые ведьмы</li>
  <p>Люди, наделенные способностью использовать светлую магию, магию лечения, руны, печати, заклинания и создавать зелья и отвары. 
  Появились благодаря воздействию ангелов на смертных, дабы создать кого-то, способного совладать с некромантами. Сейчас в мире осталась 
  лишь одна белая ведьма, собравшая в себе силы всех своих коллег.</p>
  <li>Оборотни</li>
  <p>Существо, способное принимать, как облик человека, так и полный или частичный облик конкретного животного. Зверь, сидящий внутри 
    человека, нуждается в регулярном "выгуле", а в противном случае захватывает сознание носителя, не желая возвращать ему контроль.</p>
  <li>Лунные люди</li>
  <p>Души мертвецов, которые из-за магического сбоя не смогли попасть в загробный мир. Они привязаны к месту своей смерти, появляются в 
  потемках или при лунном свете. Выглядят как бледные, уставшие люди, бродящие, понурив голову и едва переставляя ноги. Иногда нападают 
  на смертных, в попытке сделать себе подобными.</p>
  <li>Компледы</li>
  <p>Антропоморфные существа с длинными конечностями и пальцами, худым телом, серой, а местами и вовсе черной, кожей, натянутой на 
  практически лишенный мышц скелет. Охотяться на людей, пожирая их глаза, мозг, легкие и сердце, а после развешивая трупы на ветвях деревьев, 
  проводах электросети и т.п. Принято считать, что появились они благодаря воздействию особой концентрации магии на место, популярное у 
  самоубийц, например, лес Аокигахара. Позже существа расползлись по всему миру.</p>
  <li>Игнисы</li>
  <p>Монстры пламени, способные перемещаться по источникам огня (свечи, костры, камины, спички и пр.) и нападать на людей и животных для 
    пропитания. От пламени, которое способны зажечь лишь в очень редком случае, Игнисы могут отойти не более чем на 200-300 метров. Существа 
    способны принимать любую форму, но полностью состоят из огня, имеют разум и способны разговаривать. Появились во время Великого пожара в 
    Риме в 64 году, ведь этот город был одним из мест концентрации природной магии. Во время пожара энергия соединилась с пламенем, создавая 
    существ и полностью перетекая в них, лишая место лишней магии. Позже существа распространились по всей земле.</p>
</ul>
<h3 id="hran">Хранилища ангелов</h3>
<p>Пирамиды, созданные народами Южной и Центральной Америки (Инки, Майя, Ацтеки), являются хранилища ангелов, в которых в огромных 
  количествах складируются светлые артефакты. На защите каждой из пирамид стоит хранитель, избираемый из простых жителей прилежащего 
  населенного пункта.</p>
<p>Хранители без труда способны подчинять себе абсолютно любые артефакты, даже защищенные мощной магией.</p>
<h5><a href="/" style="color: black">&lt;- Назад</a></h5>
{% endblock %}
