{% extends "base.html" %}

{% block content %}
<h2>История Эдема и Тартара</h2>
    <p>Первыми созданными ангелами стали Серафимы Люцифер и Самаэль, правившие Раем бок о бок. </p>
    <p>Жили ангелы на 4 небесах, не зная горя, следовали правилам, установленным Всевышним, вот только не устраивали они
        Люцифера, думал он, как же сделать жизнь в Эдеме лучше, да освободить ангелов от рамок, поставленных создателем.
    </p>
    <p>В это время Змей Искуситель прибыл к Сатане, да обманом уговорил его врата в Сад Адама и Евы открыть. Впустил
        ангел зло в обитель святую, да поглотила ядовитая тьма души людей. Вкусили Адам и Ева плод запретный, нарушив
        наказ Всевышнего Бога, за что и пали на землю. На земле встретился им Серафим Разиэль, жизни их научил, пойдя
    против слова Божьего и навлекая на себя беду, заставившую ангела уйти в бега от армии святой.</p>
    <p>Паника воцарилась в Эдеме, ангелы были в ужасе из-за случившегося. Люцифер решил, что это отличная возможность,
        встать против заветов Бога и сделать Рай своим царством, лучше и краше прежнего. Самаэль был против затей брата,
        отговаривал его, но Серафим был непреклонен. Заточил он брата, чтобы помехой не был, да занялся переделом
        устройства государственного. </p>
    <p>Многим не нравились методы Люцифера, они были радикальными и жёсткими, но цели его были благие, а планы
        грандиозные. Были у него и последователи, и противники, но не решались они бунт устроить.</p>
    <p>Херувимы (2 по силе ангелы) предпочли скрыться от правителя тирана в лесах низшего неба. Престолов (3 по силе)
        Люцифер насильно запер в их личном мире, именуемом Астралом, или же 2-м небом. Жители 3-го неба не избежали той
        же судьбы и были отрезаны от внешнего мира.</p>
    <p>На низшем из небес (4) Ангелы по большей части смирились. Правили там 4 архангела: Михаил, Амаимон, Рагуил,
        Гавриил.</p>
    <p>Иофил, защищающий древо святое и правду Божью, стал собирать под своим началом народ, чтобы пойти против
        Люцифера, да прознал про это Серафим и послал Асмодея избавиться от него. Любил Асмодай невестку Иофил, от того
        был не против уничтожить соперника.</p>
    <p>Явился помощник Люцифера в дом Иофила, бросился в отаку на него. Заклятие Асмодея летело точно в грудь мужчине,
        но увидела это Сарра, бросилась наперерез чарам, закрыла собой жениха. Угодило заклятие ей в голову, упала
        замертво она сразу. Испугался Асмодей самого себя, а Иофила гнев одолел, бросился он на убийцу. </p>
    <p>Завязалась между ними драка, из которой победителем Асмодей вышел, но ранен он был смертельно. Добравшись до
        брата своего Амаимона, что оказался предателем в рядах архангелов, заключил он с ним контракт: спасение взамен
        на полный контроль. И стал Асмодей марионеткой брата, но жизнь свою сохранил.</p>
    <p>Прознал Люцифер, что Архангелы были в курсе планов Иофила и решил избавиться от неугодных. Явился он во дворец,
        атаковал оставшихся 3 правителей по одиночке, а поспособствовал ему в этом Марбас, что помогал Гавриилу с
        крупнейшей небесной библиотекой при дворце, от чего и знал, где все ходы тайные. Рагуил сопротивляться был не в
        силах, подавлен был от смерти дочери своей Сарры, да жены, что горя материнского от потери ребенка не вынесла.
        Гавриил же противиться удумал, да поплатился. Секретарь дворцовый Маммон руки ему по локоть отсек, да крылья
        отрезал, чтобы ни писать, ни летать не мог и помощи у Всевышнего не просил, связь с которым имел. Михаил же
        бежать из дворца смог и скрылся.</p>
    <p>Люцифер продолжил строить свой порядок в Эдеме, а прислужники его полностью ушли в утехи. Среди таких слуг был и
        Левиафан, что делал большую часть грязной работы за Люция. Он думал, что Серафим считает его своей правой рукой
        и верен ему так же, как и сам Левиафан был верен королю. Но со временем он начал замечать, что Люцию, по
        большому счету, плевать на него, правителя больше волновали власть и народ, жизнь которого он пытался сделать
        лучше, хоть и своеобразными методами. </p>
    <p>Прошло несколько месяцев, а то и сезонов, прежде чем Михаил вернулся из своего укрытия. Встретился он с
        Херувимами, собрал небольшой отряд сопротивления и вышел на центральную площадь при дворце, где остановился
        Люцифер. Стал Михаил поднимать народ на восстание, которое прихвостни Серафима пытались пресечь.</p>
    <p>Не смотря на все трудности, Михаил и его группа с боем прорвались к правителю, вызволили Гавриила и Рагуила, да
        сражение с Люцифером устроили. Левиафан, осознавший всю ситуацию, хотел было помочь борцам с тиранией, но те не
        приняли предателя в свои ряды, от чего ангелу пришлось биться на стороне Серафима. </p>
    <p>С Люцифером сражался Михаил, скрестили они клинки, и уступать сопернику ни кто не собирался. Но прорвались к ним
        Гавриил, что защищал брата чарами, Рагуил, что мечом стал помогать Архангелу, да Херувимы, что так же вступили
        в бой, взявшись за оружие. </p>
    <p>Люцифер, истощенный закрытием двух миров, не выдержал такого натиска, сбросили его с небес в преисподнюю. Туда
        же отправились и его старшие помощники: Амаимон, Асмодей, Левиафан, Бельфегор, Вельзевул и Маммон. Остальные
        участники великой революции Люцифера попали под суд и пали следом за предводителем и его помощниками, которых
        уже готовил Искуситель к принятию трона Адского.</p>
    <h5><a href="/" style="color: black">&lt;- Назад</a></h5>
{% endblock %}
