{% extends "base" %}

{% block content %}
<h2>История создания мира</h2>
    <p>Во времена, когда вселенной не было в помине, по бескрайней пустоте путешествовали два существа: брат и сестра,
    символизировавшие свет и тень, созидание и разрушение. Силы их былибезграничны, как и фантазия, от чего решили брат
    с сестрой заняться созданием новых вселенных, одной из которых и стала "The world of souls".</p>
    <p>В новой вселенной создали они совместно два мира:</p>
    <ul>
        <li>Мир живых</li>
        <li>Эдем (Рай)</li>
    </ul>
    <p>Третий мир Тартар (Ад) сестра создала в тайне от брата.</p>
    <p>Стали всемогущие существа населять миры растениями, животными и разумными. Основу разумной жизни составляли три
    части:</p>
    <ul>
        <li>Душа</li>
        <li>Магия</li>
        <li>Тело</li>
    </ul>
    <p>Душа - бесформенный сгусток, хранящий в себе саму суть разумного, его личность и самые яркие воспоминания.</p>
    <p>Магия - запас энергии, поддерживающей жизнь и дарущей способности.</p>
    <p>Тело - физическая оболочка, удерживающая в себе магию и душу.</p>
    <p>Без какой-либо из этих составляющих разумная жизнь в этой вселенной была невозможна и существо медленно умирало.</p>
    <p>Первыми творениями, имевшими разум
    были ангелы, а домом им стал Эдем. Своих создателей они стали именовать Всевышний Бог и Великая Тьма.</p>
    <p>Великая тьма, в противовес созданиям брата, сотворила Змея Искусителя, да рассказала ему про Тартар, древо
    тайное в саду Эдемском, да Бога секреты расскрыла.</p>
    <p>Следующими разум обрели люди и поселились в Райском саду. Первым человеком стал Адам и обрел он статус любимца
    Бога, который все делал для человека. Создал Всевышний мужчине и деву, звали ее Ева. Особа была своенравная, с
    характером, который сыграл с ней злую шутку. Наказывал им Бог не есть плоды с древа познания, что было в Эдемском
    саду, но деву юную Змей Искуситель обманул, да к нарушению божьего приказа склонил. Пали люди с небес на землю, где
    и остались жить.</p>
    <p>Со временем землю населяло все больше людей и души их метались меж светом и тьмой. Души светлые после смерти тела
    отправлялись в Эдем, где были счастливы до скончания веков, а темные - в быстро развивающийся Тартар, населяемый
    демонами, пытавшими души грешников. Сжалились Всевышний Бог и Великая Тьма над творениями своими, да создали еще
    один мир, куда отправлялись души, уровень чистоты которых был промежуточным и недостаточным для Ада или Рая, и
    назвали они его Мир Призраков.</p>
    <h5><a href="/index.html" style="color: black">&lt;- Назад</a></h5>
{% endblock %}
