h1 {
    color: 'black'
    }

.site-header {
  min-width: 500px;
  height: 200px;
  margin-bottom: 20px;
  padding-top: 30px;
  background-image: url('/static/img/небо.png');
  background-repeat: no-repeat;
  background-color: #b814b2;
  background-size: cover;
  color: #ffffff;
}

h5 {
  padding: 10px
}

.site-header p {
  width: 255px;
  margin: 0 auto 26px;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
}

.container {
  width: 510px;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  overflow-y: scroll;
}

html {
  height: 100%;
  margin: auto;
  width: auto;
}

body {
  overflow-y: scroll;
}

html {
  height: 100%;
  margin: auto;
  width: auto;
}
.btn btn-dark
{
align: right;
}

rd {
color: #b8bfd9
}

nrd {
color: #5975d9
}

a {
  color: black
}