{% extends "base2.html" %}

{% block content %}
<h2>История создания мира</h2>
    <p>Великие творцы продолжили создавать все новые и новые вселенные, пока не пришла им идея создать мир в развитие которого 
вмешиваться они не станут.</p>
    <p>Задумка показалась творцам интересной, они создали мир, населили его людьми и разбросали всюду магию, столь мощную, что стала она 
образовывать существ разумных, а назвали они себя Темпариями, духами природы, разделенными на шесть направлений:</p>
<ul>
  <li>Свет</li>
  <li>Тьма</li>
  <li>Огонь</li>
  <li>Вода</li>
  <li>Природа</li>
  <li>Воздух</li>
</ul>
    <p>И возглавили их две сестры: Калипсо и Калисто, что были единственными представительницами Тьмы и Света.</p>
    <p>Калипсо тонула в тени сестры, ее не замечали за подвигами Калисто, и разозлилась она, позавидовала, напала на светлую деву.
Пришлось остальным старшим Темпариям объединиться и изгать Тьму из мира, заперев ее на острове, о местоположении которого никто, кроме них, и 
не узнает.</p>
    <p>Люди жили дальше, восхваляя подвиги 12 великих Темпарий и впитывая магию, окружавшую их. Научились они влшебству из-зи которого 
облик их стал меняться. Люди, что к магии способностей не имели, часто обращались к силе Калипсо, а та отзывалась, даруя им ужасающие 
способности. Таких волшебников стали бояться, изгонять и убивать.</p>
    <p>А Темпарии продолжали появляться повсюду: в реках и горах, вулканах и небе, принося с собой ветра, пламя и свет с крахом.</p>
    <h5><a href="/nimf" style="color:black">&lt;- Назад</a></h5>
{% endblock %}
