{% extends "base2.html" %} {% block content %}
<h2>Здравствуй, дорогой читатель!</h2>
<p>Добро пожаловать в уголок мистики и тайн!</p>
<p>
  На этом сайте ты узнаешь о волшебном мире "Zodiac Reality", его истории и
  сущетсвах, живущих в нем
</p>
<p>О чем же, дорогой читатель, ты бы хотел узнать прямо сейчас?</p>
<ul>
  <li><a href="/histz" style="color: black">История создания мира</a></li>
  <li><a href="/mirz" style="color: black">Зодиаки</a></li>
  <li><a href="/drz" style="color: black">Другие вселенные</a></li>
</ul>
{% endblock %}
